html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-purple {
    background-color: #1b3279 !important; /* µµ¦â */
    border-color: #1b3279 !important;
    color: white !important;
    transition: background-color 0.3s, border-color 0.3s;
}

    .btn-purple:hover {
        background-color: #73a8fc !important;
        border-color: #73a8fc !important;
        color: white !important;
    }


</style >
html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}