html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-purple {
    background-color: #1b3279 !important; 
    border-color: #1b3279 !important;
    color: white !important;
    transition: background-color 0.3s, border-color 0.3s;
}

    .btn-purple:hover {
        background-color: #73a8fc !important;
        border-color: #73a8fc !important;
        color: white !important;
    }

.card-darkblue {
    color: white;
    border: dashed 3px #ffffff;
    padding: 20px;
    border-radius: 26px;
    background: #121830;
}
.card-blue {
    color: white;
    border: dashed 3px #ffffff;
    padding: 20px;
    background: #375fae;
    border-radius: 26px;
}

.card-yellow {
    color: white;
    border: dashed 3px #ffffff;
    padding: 20px;
    background-color: #ffbb00;
    border-radius: 26px;
}

.card-red {
    color: white;
    border: dashed 3px #ffffff;
    padding: 20px;
    background: #551302;
    border-radius: 26px;
}



.cardsetting {
    color: black;
    border: 2px #ffffff;
    padding: 5px;
    border-radius: 26px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 20px 20px 15px #bdbdbd, -20px -20px 15px #ffffff;
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

    .timeline li {
        margin: 20px 0;
        padding-left: 20px;
        border-left: 3px solid #007bff;
    }

        .timeline li strong {
            color: #007bff;
        }


.category-title {
    color: #001a75;
}
.btn-warning:hover {
    background-color: #ff8800;
    border-color: #ff8800;
    color: white;
}

html {
    position: relative;
    min-height: 100%;
}