@model StarProject.ViewModels.ProductEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>商品資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="text" asp-for="Product.No" />
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProCategoryNo" class="control-label"></label>
                <select asp-for="Product.ProCategoryNo" class="form-control" asp-items="ViewBag.ProCategoryNo"></select>
                <span asp-validation-for="Product.ProCategoryNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Status" class="control-label"></label>
                <input asp-for="Product.Status" class="form-control" />
                <span asp-validation-for="Product.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ReleaseDate" class="control-label"></label>
                <input asp-for="Product.ReleaseDate" class="form-control" />
                <span asp-validation-for="Product.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UpdateDate" class="control-label"></label>
                <input asp-for="Product.UpdateDate" class="form-control" />
                <span asp-validation-for="Product.UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <a asp-action="ImgEdit" asp-route-id="@Model.Product.No">編輯圖片</a>
</div>

<h4>編輯圖片</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ImgEdit" method="post" enctype="multipart/form-data">
            @for (int i = 0; i < Model.ProImages.Count; i++)
            {
                <input type="file" asp-for="ProImages[i].Image" />
                <input asp-for="ProImages[i].ImgOrder" />
            }
            <button type="submit">更新圖片</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
