@model StarProject.Models.CompanyNotify

@{
    ViewData["Title"] = "公司內部公告新增";
}

<head>
    <style>
       
    </style>

    <link href="~/css/textediting.css" rel="stylesheet" />
</head>


<h1 class="fw-bold">公司內部公告新增</h1>
<hr />
<div class="row" style="width:100%">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Title" class="control-label fw-bold fs-5"></label><span asp-validation-for="Title" class="text-danger ms-3"></span>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group mb-2">
                <label asp-for="Category" class="control-label fw-bold fs-5"></label><span asp-validation-for="Category" class="text-danger ms-3"></span>
                <select asp-for="Category" class="form-select">
                    <option value=""></option>
                    <option value="行政公告">行政公告</option>
                    <option value="人事公告">人事公告</option>
                    <option value="活動公告">活動公告</option>
                    <option value="制度公告">制度公告</option>
                    <option value="資訊系統公告">資訊系統公告</option>
                    <option value="其他">其他</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Content" class="control-label fw-bold fs-5"></label><span class="text-muted ms-2">(選填)</span><span asp-validation-for="Content" class="text-danger ms-3"></span>
                <textarea asp-for="Content" id="editor" class="form-control"></textarea>
            </div>

            <div class="form-group d-flex gap-2 mt-2 text-distance">
                <button type="submit" class="btn btn-topbar flex-fill fw-bold fs-5 text-distance">
                    <i class="fa-solid fa-plus"></i>新增
                </button>
                <a asp-action="Index" class="btn btn-outline-back flex-fill fw-bold fs-5">返回列表</a>
            </div>
        </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const textarea = document.querySelector('#editor');

            ClassicEditor
                .create(textarea, {
                    language: 'zh',
                    toolbar: [
                        'heading', '|',
                        'bold', 'italic', 'blockQuote', 'bulletedList', 'numberedList', '|',
                        'imageUpload', 'link', 'mediaEmbed', 'insertTable', '|',
                        'undo', 'redo'
                    ],
                    image: {
                        toolbar: [
                            'imageTextAlternative',
                            'imageStyle:full',
                            'imageStyle:side'
                        ],
                            // 允許 Base64 插入
                            upload: { types: [ 'base64' ] }
                    }
                    
                })
                .then(editor => {
                    // 將 CKEditor 的內容同步回原本的 textarea
                    editor.model.document.on('change:data', () => {
                        textarea.value = editor.getData();
                        console.log(textarea.value);
                    });
                })
                .catch(error => {
                    console.error(error);
                });
        });
    </script>

}