@using StarProject.ViewModels
@model IEnumerable<TicketNameViewModel>

@foreach (var item in Model)
{
    <div class="col rounded-lg">
        <div class="card h-100 position-relative shadow cardDetail">
            <!-- 固定圖片大小 -->
            <div class="card-img-container">
                <img src="@Html.DisplayFor(modelItem => item.TicImage)" class="card-img-top" alt="景點照片" />
            </div>

            <!-- flex-column 讓內容上下排列 -->
            <div class="card-body d-flex flex-column">
                <h4 class="card-title fw-bold">@Html.DisplayFor(modelItem => item.TicName)</h4>
            </div>
        </div>
    </div>
}