@model ErrorViewModel
@{
    Layout = null;
    ViewData["Title"] = "Error";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/bootstrapcss/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/error.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css">
	<link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <title>404</title>
</head>
<body>
    <div class="txt404 text-center">4<img class="asteroid bounce-in-top" src="~/img/asteroid.png" />4</div>
    <div class="txtMessage text-center">完蛋！找不到網頁！</div>
    <div class="txtMessage text-center">請聯繫網站工程師協助，謝謝！</div>
    <a asp-area="" asp-controller="Home" asp-action="Index" style="font-size:24px; text-decoration:none; color:#B14940"><i class="fa-solid fa-house"></i>點我回首頁orz</a>
        
</body>
</html>